@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
}

h1,h2,h3,h4,h5 {
    color: #2b044d;
    font-family: Nunito, sans-serif;
}

p {
    color: rgb(112, 123, 142);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
/* navbar */

#navbar {
    height: 110px;
    background-color: #F4FEFF;
}

#navbar .flex {
    justify-content: space-between;
}

.logo {
    width: 130px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a {
    display: block;
    padding: 39px 16px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #450b78;
    font-size: 17px;
    font-weight: 400;
}

.nav-menu li a.active:before {
    content: "";
    position: absolute;
    text-align: center;
    width: 75px;
    left: 15px;
    bottom: 20px;
    height: 2px;
    background-color: #a60dcf;
}

.nav-menu li a:before {
    content: "";
    position: absolute;
    text-align: center;
    width: 0px;
    left: 15px;
    bottom: 20px;
    height: 2px;
    background-color: #a60dcf;
    transition: all 0.35s ease;
}

.nav-menu li a:hover:before {
    width: 75px;
}


/* banner */
.banner {
    background-color: #F4FEFF;
    padding-top: 56px;
}

.banner .grid {
    grid-template-columns: 60% 40%;
    gap: 20px;
}

.banner-text p:first-child {
    font-size: 16px;
    text-transform: uppercase;
    color: #2b044d;
}

.banner-text h1 {
    color: #2b044d;
    font-weight: 700;
    font-size: 65px;
    font-family: 'Nunito', sans-serif;
    padding: 20px 0;
}

.banner-content {
    color: #707b8e;
    font-size: 16px;
    line-height: 30px;
    width: 460px;
    padding-bottom: 30px;
    font-weight: 400;
}

.btn {
    color: #fff;
    border: none;
    background-color: #f9218d;
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
}

.play-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    background-color: #D852E8;
    padding: 10px;
    border: none;
    margin-left: 20px;
}

/* feature */

.feature {
    padding: 80px 0;
}

.feature .grid {
    grid-template-columns: 38% 63%;
}

.feature-head {
    font-size: 50px;
    font-family: Nunito, sans-serif;
    margin-bottom: 45px;
}

.features.grid {
    grid-template-columns: 50% 50%;
    padding: 0 20px;
}

.single-features i {
    color: #fff;
    font-size: 30px;
    height: 69px;
    width: 125px;
    display: block;
    line-height: 67px;
    border-radius: 50%;
    text-align: center;
    background-image: -moz-linear-gradient(90deg,#e78ae9 0%,#926ef8 100%);
    background-image: -webkit-linear-gradient(90deg,#e78ae9 0%,#926ef8 100%);
}

.feature-text {
    padding-left: 24px;
}

.single-features.flex {
    margin-bottom: 54px;
}

.feature-text h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Nunito';
}

.feature-text p {
    font-family: "Poppins",sans-serif;
    color: #707b8e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    padding-right: 30px;
    margin-top: 7px;
}

.container img {
    padding-right: 27px;
}


/* Help Section */

.help {
    padding: 150px 0;
    background: #f4feff;
}

.help-items{
    display: flex;
}

.help h1 {
    text-align: center;
    width: 660px;
    margin: auto;
    margin-bottom: 100px;
}

.help-item {
    width: 370px;
    height: 457px;
    background: #fff;
    text-align: center;
    margin-right: 35px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #c3c2c2;
}

.help-icon {
    width: 90px;
    height: 90px;
    margin: auto;
    background: #e88cea;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.help-item:hover .help-icon{
    background: #835EF8;
}
.help-item:hover {
    border: 1px solid #b8a2ff;
}

.help-icon i {
    margin-top: 23px;
    font-size: 47px;
    color: white;
}

.help-item.active{
    border: 1px solid #b8a2ff;
}

.help-item.active .help-icon {
    background: #835EF8;
}

.help-item h2 {
    margin-bottom: 30px;
}

/* app download section style */

.app {
    color: #fff;
}

.app .grid {
    padding: 180px 0;
    grid-template-columns: 40% 60%;
    background: linear-gradient(98deg,#6c19f6 0%,#f9218d 100%);
}

.app .flex {
    justify-content: flex-start;
}

.app-content {
    padding-left: 80px;
}

.app-content h1,.app-content p {
    color: #fff;
}

.app-content p {
    padding: 40px 0;
    width: 426px;
}

.app-download-img {
    padding-right: 80px;
    padding-left: 50px;
}

.download-app a:first-child {
    margin-right: 30px;
}


/* contact style */

.contact {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-bottom: 1px solid #ffc9fd;
}

.contact button {
    width: 201px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 380px;
    margin-top: 110px;
}

.contact h1 {
    padding-left: 150px;
    margin-top: 111px;
}

img.role {
    width: 260px;
    position: absolute;
    bottom: -105px;
    left: -134px;
}

img.arrow {
    width: 811px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* footer  */

.footer {
    padding: 110px 0;
    position: relative;
}

.footer .grid {
    grid-template-columns: repeat(4,1fr);
    gap: 58px;
    align-items: flex-start;
}

footer.footer img {
    width: 156px;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
}

.footer ul a {
    display: block;
    text-decoration: none;
    color: #868c98;
    padding: 8px 0;
}

.footer h3 {
    color: #000;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 18px;
}

footer.footer input {
    padding: 7px 6px;
    border: 1px solid #fff;
    height: 40px;
    width: 74%;
    background: #f9f9fe;
    font-size: 16px;
    font-weight: 500;
}

footer.footer button {
    background: #8f1bdc;
    border: none;
    padding: 13px 22px;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    margin-left: -4px;
    font-size: 16px;
}

.newletter-text {
    margin-bottom: 25px;
}

.copyright {
    text-align: center;
    margin-top: 95px;
}

.arrow-button {
    position: fixed;
    bottom: 35px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #8f1bdc;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.arrow-button i {
    margin-top: 15px;
    font-size: 22px;
}